<?xml version="1.0"?>
<!-- http://msdn.microsoft.com/en-us/library/dd0w4a2z.aspx -->
<!-- http://msdn.microsoft.com/en-us/library/vstudio/aa983326.aspx -->

<configuration>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0" />
                <add name="Microsoft SQL Server Compact Data Provider 4.0"
                     invariant="System.Data.SqlServerCe.4.0"
                     description=".NET Framework Data Provider for SQL Server Compact Edition"
                     type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe"
                />
        </DbProviderFactories>
    </system.data>
    <connectionStrings>
        <add name="Catalog"
             providerName="System.Data.SqlServerCe.4.0"
             connectionString="Data Source=res/Catalog.sdf"
        />
    </connectionStrings>
</configuration>